.cartao{
    background-image: url(imagens/backgorund.png);
    background-repeat: no-repeat;
    list-style: none;    
}
body{
    background: paleturquoise;
}
ul{
    list-style: none;
}
h1{
    padding-left: 30px;
    padding-top: 30px;
    border-radius: 5px 5px 5px gray;
}
li{
    padding: 5px;
   }